body {
  background: linear-gradient(30deg, #608f92, #a5a29b);
  color: #0d3005;
}

#page-logo a {
  color: #608f92;
}

#page-logo a:hover {
  color: #a5a29b;
  background-color: #444343;
}

header{
  position: static;
}

header nav a:hover{
  color: #a5a29b;
  background-color: #444343;
}

main ul{
  width: 1500px;
  margin: 0 auto 48px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 20px;
}

main li:nth-of-type(3){
  grid-column: 1 / span 2 ;
}

main li {
  display: flex;
  background-color: whitesmoke;
  box-shadow: 1px 1px 4px #00000033;
  border-radius: 8px;
  overflow: hidden;   /*visible -->(default)*/
  /* width: 500px; */
}

main li img {
  width: 300px;
  height: 250px;
  object-fit: cover;
}

.item-content {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column; /*row --> default*/
}

.item-content h2{
  margin: 0;
}

.actions{
  text-align: right;
}

.actions a {
  color: #10b597;
  font-weight: bolder;
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}

.actions a:hover{
  background-color: #c3faf9;
}
