#hero{
  height: 800px;
  background-image: url("../images/places/dhow.webp");
  background-position: center;
  background-size: cover;
}
#hero-content {
  width: 900px;
  background-color: rgba(51, 47, 47, 0.3);
  box-shadow: 2px 4px 8px #444343;
  border-radius: 8px;
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
  position: relative;
  top: 300px;
}

#hero-content h1{
  color: whitesmoke;
  /* text-transform: uppercase; */
  font-size: 50px;
  font-family: Georgia, sans-serif;
  margin: 0;
}

#hero-content p{
  color: black;
  /* text-transform: uppercase; */
  font-size: 18px;
  margin-bottom: 32px;
}

#hero-content a{
  text-decoration: none;
  background-color: #444343;
  color: #bfbfee;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 2px 4px 8px #444343;
}

#hero-content a:hover{
  background-color: #bfbfee;
  color: #444343;
}

#highlights h2{
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  color: #444343;
}

#fave-dest {
  display: flex;
  width: 95%;
  margin: auto;
  margin-bottom: 40px;
  justify-content: center;
}

.destination {
  margin: 0 10px;
}

.destination p {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin: 20px 0;
}

.destination img {
  height: 200px;
  width: 100%;
  box-shadow: 2px 4px 8px #646060;
  border-radius: 10px;
  object-fit: cover; /*fit contain cover*/
}

.destination strong{
  color: #047304;
}












/* #container {
  background-color: rgb(172, 247, 240);
  padding: 10px;
  width: auto;
  display: flex; */
        /* flex-direction: row; 
          flex-wrap: nowrap; (default behavior)
          flex-flow: row nowrap; shortcut for flex-wrap and flex-direction */
        /* align-items: center;
  justify-content: space-between;
} */

/* #dest {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

p{
  background-color: rgb(211,88,209);
  margin: 10px;
  width: 250px;
}

ul {
  background-color: #aaf7eb;
  list-style: none;
  width: 250px;
  margin: 10px;
  padding: 0;
}

li {
  background-color: none;
  width: 100px;
} */