h1{
  font-size: 48px;
  margin: 0;
}

header{
  margin-bottom: 64px;
}

#mycourselist {
  margin: auto;
}

/* header p {
  margin-bottom: 36px;
} */

a{
  font-family: 'Fira Sans', sans-serif;
  padding: 12px 48px;
  background-color: #def0f7;
  color: #2111fa;
  border: 1px solid #edf5f4;
  border-radius: 6px;
  font-size: 18px;
  display: inline-block;
  margin: 12px 0;
}

a:hover{
  background-color: #e5d3f6;
}

p{
  font-family: 'Fira Sans', sans-serif;
  color: #4d5e75;
  width: 500px;
  margin: 36px auto 0 auto;
  /* text-align: left; */
}

ul{
  font-family: 'Fira Sans', sans-serif;
  color: #4d5e75;
  list-style: none;
  width: 600px;
  margin: 36px auto 0 auto;
  padding: 0;
}

li{
  background-color: #def0f7;
  border-radius: 5px;
  margin: 15px;
  padding: 16px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

h2{
  color: #3d6395;
  font-family: 'Oswald', sans-serif;
}

main p{
  margin: 12px;
  color: #3d6395;
}

.subject{
  margin: 12px;
  background-color: #dae3ee;
}


/* ol{
  text-align: left;
  font-family: 'Fira Sans', sans-serif;
  color: #4d5e75;
  list-style: none;
} */