body {
  background: linear-gradient(45deg, #29221f, #434c57);
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

a{
  text-decoration: none;
}

ul {
  list-style: none;
}

#main-header { 
  background-color: #161414;
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

#logo {
  display: flex;
  color: #da8319;
  font-size: 2rem;
  font-weight: bolder;
  text-transform: uppercase;
}

.menu-btn {
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu-btn span{
  width: 100%;
  height: 3px;
  background-color: #da8319;  /*#9a19da*/
}

#side-drawer{
  width: 100%;
  height: 100%;
  background-color: #19212b;
  /* position: fixed;
  top: 0;
  left: 0; */
}

#side-drawer ul{
  display: flex;
  margin: 0;
  padding: 4rem 1rem;
  flex-direction: column;
  align-items: center;
}

#side-drawer li{
  margin: 1rem 0;
}

#side-drawer a{
  color: #f98f0f;
  font-size: 2rem;
}

main h1 {
  font-size: 3rem;
  color: #da8319;
  text-align: center;
}

#products {
  width: 80%;
  margin: 2rem auto;
}

#products ul{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.food-item{
  background-color: #faebd7;
  border-radius: 8px;
  overflow: hidden;
}

.food-item img{
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.food-item-content {
  padding: 1.5rem;
  text-align: center;
}

.btn {
  color: #faebd7;
  background-color:#f98f0f ;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
}

.btn:hover{
  background-color: #da8319;
  color: #faebd7;
}

footer {
  background: linear-gradient(30deg, #16350e, #434c57);
  padding: 1rem;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer img{
  height: 5rem;
  border-radius: 10px;
}

@media(max-width: 48rem) { /*768px*/
  main h1{
    font-size: 1.5rem;
  }

  #products ul {
    grid-template-columns: 100%;
  }

  #main-header nav{
    display: none;
  }
}
/* @media has to be at the bottom of the CSS code. max-width when stating with computer first, min-width when stating with mobile first */