body {
  background: linear-gradient(45deg, #29221f, #434c57);
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

a{
  text-decoration: none;
}

ul {
  list-style: none;
}

#main-header { 
  background-color: #161414;
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

#logo {
  display: flex;
  color: #da8319;
  font-size: 2rem;
  font-weight: bolder;
  text-transform: uppercase;
}

#main-header ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#main-header li {
  margin: 0 1rem;
}

#main-header nav a {
  color: #da8319;
  font-size: 1.25rem;
  border-radius: 4px;
}

#main-header nav a:hover {
  background-color: #da8319;
  color: #29221f;
}

main h1 {
  /* padding: 40px; */
  font-size: 3rem;
  color: #da8319;
  text-align: center;
}

#products {
  width: 80%;
  margin: 2rem auto;
}

#products ul{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.food-item{
  background-color: #faebd7;
  border-radius: 8px;
  overflow: hidden;
}

.food-item img{
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.food-item-content {
  padding: 1.5rem;
  text-align: center;
}

.btn {
  color: #faebd7;
  background-color:#f98f0f ;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
}

.btn:hover{
  background-color: #da8319;
  color: #faebd7;
}

footer {
  background: linear-gradient(30deg, #16350e, #434c57);
  padding: 1rem;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer img{
  height: 5rem;
  border-radius: 10px;
}

@media(max-width: 768px) {
  #products ul {
    grid-template-columns: 100%;
  }
}
/* @media has to be at the bottom of the CSS code */