p{
  font-family: 'Fira Sans', sans-serif;
  color: #4d5e75;
  text-align: left;
}
/* body{
  text-align: center;
  background-color: #edf5f4;
  margin: 50px;
}
img{
  width: 300px;
  height: 168px;
  border-radius: 100px;
}
h1{
  font-family: 'Oswald', sans-serif;
  color: #38593f;
}

a {
  color: #1328e8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#subtitle{
  color: #092a59;
  font-weight: bold;
  font-size: 30px;
} */
